<div class="container py-5">
  <div class="row">
    <div class="col-6">
      <div class="bg-white rounded p-3 shadow" style="opacity: 0.9;">
        <h2 class="display-4"><%= @country.name %></h2>
        <div class="form-container">
          <hr class="my-4">
          <p class="lead">The capital of <%= @country.name.capitalize %> is <%= @country.capital %>, and the people characterize themselves as <%= @country.demonym %></p>
          <h3 class="lead">Languages spoken in <i><%= @country.name %>:</i></h3>
          <p class="lead"><%= @country.languages %></p>
          <h3 class="lead">Official currency of <i><%= @country.name %>:</i></h3>
          <p class="lead"><%= @country.currencies %></p>
          <h3 class="lead">Flag of <i><%= @country.name %>:</i></h3>
          <img class="lead" src=<% @country.flag %>>
          <h3 class="lead">Calling Code:</h3>
          <p class="lead"><%= @country.callingCodes %></p>
          <div id="map"
            style="width: 100%; height: 600px;"
            data-markers=<% @country.latlng %>
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
