<div class="container">
  <div class="row justify-content-center">
    <div class="col-11 col-lg-11 col-sm-11">
    <div class="bg-white rounded mt-5 shadow-lg">
      <div class="small-banner-image">
      </div>
      <div class="p-5">
        <div class="visa_results_heading">
          <div class="row justify-content-center">
            <h2>Visa from <%= @o_c.name %> to <%= @d_c.name %></h2>
          </div>
          <hr class="my-4">
          <div class="row justify-content-left">
            <%= link_to "Find out more about your destination", country_path(@d_c), style:"text-decoration: none;", class:"gray_link" %>
          </div> 
          <div class="row justify-content-center">
            <div class="round_border_red">
              <%= @visa_result.visa_modality.capitalize.gsub(/_/,' ') %>
              <%= @visa_result.evisa_modality.capitalize.gsub(/_/,' ') %>
            </div>      
          </div>
        </div>
        <hr class="my-4">
        <div class="visa_results_heading">
          <div class="row justify-content-left">
            <h5 class="p-4">View embassy information:</h5>
          </div>
        </div>
        <div class="grid-container">
          <% if @embassies.empty? %>
            <div class="row justify-content-left">
              <h6 class="gray_text"> No embassies found!</h6>
            </div>
          <% else %>
              <% @embassies.each do |embassy| %>
              <%= link_to embassy, style:"text-decoration: none; color: black" do %>
                <div class="justify-content-center">
                  <div class="round_border_gray">
                    <h6><%= embassy.embassy_consulate %> of <%= embassy.own_country.name %> in <%= embassy.in_city %>, <%= embassy.host_country.name %></h6>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
          <div class="row justify-content-center padding-top">
            <%= link_to "Bookmark Search", user_bookmark_visa_results_path(@user, bookmark_visa_result: {visa_result_id: @visa_result.id}), method: :post, style:"text-decoration: none;", class:"orange-button", id:"save-bookmark" %>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>
</div>

<script>
const save_bookmark = document.getElementById("save-bookmark");
save_bookmark.addEventListener("click", (event) => {
  alert("The bookmark saved!");
});
</script>
