<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 col-lg-10 col-sm-10">
    <div class="rounded p-5 shadow-lg" id="results">
      <div class="visa_results_heading">
        <div class="row justify-content-center">
          <h3 class="title">Visa from <%= @o_c.name %> to <%= @d_c.name %></h3>
          <div class="globe">
            <i class="fas fa-globe-americas"></i>
          </div>
          <div class="row justify-content-center">
          <%= link_to "Click to find out more about your destination", country_path(@d_c), style:"text-decoration: none;", class:"gray_link", id:"profile" %>
          </div>
        </div>
        <hr class="my-4">

        <div class="row justify-content-center">
          <div class="round_border_red">
            <%= @visa_result.visa_modality.capitalize.gsub(/_/,' ') %>
            <%= @visa_result.evisa_modality.capitalize.gsub(/_/,' ') %>
          </div>      
        </div>
      </div>
      <div class="visa_results_heading">
        <div class="row justify-content-left">
          <h5 id="select">Select your embassy:</h5>
        </div>
      </div>
      <div class="grid-container">
        <% if @embassies.empty? %>
          <div class="row justify-content-left">
            <h6 class="gray_text"> No embassies found!</h6>
          </div>
        <% else %>
            <% @embassies.each do |embassy| %>
            <%= link_to embassy, style:"text-decoration: none; color: black" do %>
              <div class="justify-content-center">
                <div class="round_border_gray">
                  <h6>Embassy of <%= embassy.own_country.name %> in <%= embassy.in_city %>, <%= embassy.host_country.name %></h6>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>


        <div class="row justify-content-center" id="bookmark">
          <%= link_to "Bookmark This Search", user_bookmark_visa_results_path(@user, bookmark_visa_result: {visa_result_id: @visa_result.id}), method: :post, style:"text-decoration: none;", class:"blue-button-modified" %>
        </div>
      </div>
    </div>
  </div>
</div>
