<!DOCTYPE html>
<html>
  <head>
    <title>StampIn - Travel Visa Search Engine</title>
    <%= favicon_link_tag 'https://res.cloudinary.com/stampin/image/upload/v1626354248/stampinbackground.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="Some travel plans require a visa. StampIn tells you which one you need so your trip goes off wihout a hitch.">
    <meta property="og:title" content="StampIn - Travel Visa Search Engine" />
    <meta property="og:description" content="Some travel plans require a visa. StampIn tells you which one you need so your trip goes off wihout a hitch." />
    <meta property="og:url" content="https://stampin.travel" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://res.cloudinary.com/stampin/image/upload/v1627666517/StampIn_OG_udl4xd.png" />
    <meta name="keywords" content="travel, visas, visa, vacation, embassy info, travel plans">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'map' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
  

    <div class="main">
      <%= yield %>
    </div>

    <%= javascript_pack_tag 'map' %>

    <%= render 'shared/footer' %>
  </body>
</html>
