<!DOCTYPE html>
<html>
  <head>
    <title>StampIn - Travel Visa Search Engine</title>
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/stampin/image/upload/v1626354248/stampinbackground.png"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="Some travel plans require a visa. StampIn tells you which one you need so your trip goes off wihout a hitch.">
    <meta property="og:title" content="StampIn - Travel Visa Search Engine" />
    <meta property="og:description" content="Some travel plans require a visa. StampIn tells you which one you need so your trip goes off wihout a hitch." />
    <meta property="og:image" content="https://res.cloudinary.com/stampin/image/upload/v1627400406/Get_more_stamps_in_your_passport_ujbgyo.png" />
    <meta name="keywords" content="travel, visas, visa, vacation, embassy info, travel plans">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'map' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
  

    <div class="main">
      <%= yield %>
    </div>
    
    <%= javascript_pack_tag 'map' %>
  </body>
</html>
